$color-accent: #385696
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F2F2F2

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-color: $color-background
$header-background: $color-accent
$header-sticky-color: $color-text
$header-logo-height: 70px
$header-logo-height-desktop: 100px
$header-sticky-invert-logo: true
$header-border-bottom-width: 0
$hero-color: $color-background
$hero-background-color: $color-accent
