.blocks
    .block-call_to_action
        background-color: #ff5e00 !important
        *
            color: #000000 !important
        .actions
            a
                @include media-breakpoint-up(md)
                    font-size: pxToRem(22) !important