.blocks
    .block-call_to_action
        *
            color: $color-text !important
        .actions
            a:first-child
                background: $color-text
                border: none !important
                color: $color-background !important
                font-size: pxToRem(22) !important
                font-weight: bold
                &:hover
                    background: $color-background !important
                    color: $color-text !important
